.App {
  padding: 20px;
}

.search-input {
  display: flex;
}

.search-input .ant-input {
  width: 200px;
  margin-left: 20px;
}

.search-result {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  width: 116px;
  height: 55px;
}